pandas==2.2.2
numpy==1.26.4
geopy==2.4.1
scikit-learn==1.4.2
tensorflow==2.16.1
joblib==1.4.2
requests==2.31.0
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
google-cloud-bigquery==3.24.0
pandas-gbq==0.23.0
db-dtypes==1.2.0
protobuf==4.25.3
dill==0.3.8  # <-- ADD THIS LINE